@page "/cashier_console"

<h3>Cashier's' Console</h3>
<br />

<div class="row">
    <div class="col">
        <SelectProductForSellingComponent OnProductSelected="SelectProduct"></SelectProductForSellingComponent>
        <br />
        <SellingProductComponent SelectedProduct="selectedProduct" OnProductSold="SellProduct"></SellingProductComponent>
    </div>
    <div class="col">
        Place Holder
    </div>
</div>

@code {
    private Product selectedProduct;

    private void SelectProduct(Product product)
    {
        selectedProduct = product;
    }

    private void SellProduct(Product product)
    {
        
    }
}
