@page "/cashier_console"

<h3>Cashier's' Console</h3>
<br />

<div class="row">
    <div class="col">
        <SelectProductForSellingComponent></SelectProductForSellingComponent>
    </div>
    <div class="col">
        Place Holder
    </div>
</div>

@code {

}
