@page "/products"

@inject NavigationManager NavigationManager
@inject IViewProductsUseCase ViewProductsuseCase
@inject IGetCategoryByIdUseCase GetCategoryByIdUseCase

<h3>Manage Products</h3>
<br />

@if (products != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Product Category</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td>@GetCategoryByIdUseCase.Execute(product.CategoryId)?.Name</td>
                    <td>@product.Name</td>
                    <td>@(Math.Round(product.Price, 2))</td>
                    <td>@product.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
}
<br />

@code {
    private IEnumerable<Product> products;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        products = ViewProductsuseCase.Execute();
    }

}
